In [2]:
# importing the libraries
import pandas as pd

In [6]:
# creating pandas dataframe for ordinal data
data = {'Customer_Rating':['Poor','Good','Very Good','Excelent','Poor','Excelent']}
df=pd.DataFrame(data)

In [7]:
df.head()

  Customer_Rating
0            Poor
1            Good
2       Very Good
3        Excelent
4            Poor

In [8]:
# creating the dictionary for mapping the ordinal numerical value
dictionary = {'Poor':1,'Good':2,"Very Good":3,"Excelent":4}
# assigning ordinal numerical value to all types of customer rating
df['Customer_Rating']=df.Customer_Rating.map(dictionary)
df

   Customer_Rating
0                1
1                2
2                3
3                4
4                1
5                4